{% extends 'base.html.twig' %}

{% block title %}Se connecter - GreenGoodies{% endblock %}

{% block body %}
<div class="flex max-h-screen overflow-hidden font-inter" style="background-color: #FFFDF7">
    <div class="w-1/2">
        <img class="object-cover" src="{{ asset('images/login.png') }}" alt="">
    </div>

    <div class="flex w-1/2 justify-center pt-24 h-max">
        <div class="flex flex-col w-3/5">
            <h1 class="text-3xl font-medium">
                Connexion
            </h1>

            <form class="flex flex-col w-full mt-10" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <label
                    class="text-neutral-600"
                    for="username"
                >
                    Adresse email
                </label>

                <input
                    type="email"
                    value="{{ last_username }}"
                    name="_username"
                    id="username"
                    class="mt-4 form-control py-7 pl-4 border border-neutral-800 font-inter text-lg"
                    autocomplete="email"
                    required
                    autofocus
                >

                <label
                    class="text-neutral-600 mt-8"
                    for="password"
                >
                    Mot de passe
                </label>

                <input
                    type="password"
                    name="_password"
                    id="password"
                    class="mt-4 form-control py-7 pl-4 border border-neutral-800 font-inter text-lg"
                    autocomplete="current-password"
                    required
                >

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
                #}

                <button
                    class="bg-neutral-600 py-6 text-white cursor-pointer mt-10 hover:bg-neutral-500"
                    type="submit"
                >
                    Se connecter
                </button>
            </form>

            <a
                class="text-neutral-500 mt-8 hover:text-neutral-600 hover:underline  mx-auto"
                href="/register"
            >
                Déjà un compte ? Se connecter
            </a>
        </div>
    </div>
</div>
{% endblock %}
