<header class="flex justify-between px-24 py-8" style="background-color: #FFFDF7;">
    <div class="flex justify-center">
        <img class="my-auto w-max" src="{{ asset('images/logo.png') }}" alt="Logo">
    </div>

    <nav class="flex">
        <ul class="flex space-x-12 text-md font-inter">
            <li>
                <a class="font-inter" href="{{ path('app_home') }}">Nos produits</a>
            </li>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ path('app_cart') }}">Mon panier</a>
            </li>

            <li>
                <a href="{{ path('app_me') }}">Mon compte</a>
            </li>

            <li>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </li>

                <li>
                    <a href="{{ path('app_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
