{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <main class="flex flex-col h-full pb-12" style="background-color: #F7F1EC;">
        <div class="flex flex-col gap-y-8 mt-24 mx-auto w-2/5">
            <h1 class="mx-auto text-2xl font-inter">Mon compte</h1>

            <div class="flex flex-col bg-white p-12">
                <h2 class="font-bold mb-6">Mes commandes</h2>

                {% if app.user.hasOrders %}
                    <table>
                        <thead class="border-b border-gray-200">
                            <tr class="flex justify-between w-full text-gray-400 font-inter text-sm">
                                <th class="text-left py-4">N°</th>
                                <th class="text-left py-4">Date</th>
                                <th class="text-left py-4">Prix</th>
                            </tr>
                        </thead>

                        <tbody class="flex flex-col w-full divide-y divide-gray-200">
                            {% for index, order in orders %}
                                <tr class="flex justify-between w-full">
                                    <td class="text-left py-6">#{{ order.getId() }}</td>
                                    <td class="text-left py-6">{{ order.createdAt|date('d/m/Y') }}</td>
                                    <td class="text-left py-6">{{ order.getFormattedPriceInCurrency() }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="italic text-gray-400">Aucune commandes</p>
                {% endif %}
            </div>

            <!-- ENABLE API ACCESS -->
            <form
                class="flex flex-col bg-white p-12"
                action="{{ path('app_api_toggle') }}"
                method="POST"
                id="enableApiForm"
            >
                <h2 class="font-bold mb-6">
                    Mon accès API {{ app.user.getApiEnabled ? '<span class="text-green-600 font-medium">(actif)</span>' : '<span class="text-red-600 font-medium">(inactif)</span>' }}
                </h2>

                <input type="hidden" name="_token" value="{{ csrf_token('api_enable') }}">

                <button
                    type="button"
                    class="js-confirm flex font-inter justify-center mt-4 bg-neutral-600 py-8 text-white cursor-pointer hover:bg-neutral-500"
                    data-form="#enableApiForm"
                    data-message="Confirmer l'activation de l'API ?"
                >
                    {{ app.user.getApiEnabled ? 'Désactiver mon accès API' : 'Activer mon accès API' }}
                </button>
            </form>

            <!-- REMOVE USER ACCOUNT -->
            <form
                class="flex flex-col bg-white p-12"
                action="{{ path('app_remove_account') }}"
                method="POST"
                id="deleteAccountForm"
            >
                <input type="hidden" name="_token" value="{{ csrf_token('delete-account') }}">

                <button
                    type="button"
                    class="js-confirm flex font-inter justify-center bg-neutral-600 py-8 text-white cursor-pointer hover:bg-neutral-500"
                    data-form="#deleteAccountForm"
                    data-message="Es-tu sûr de vouloir supprimer ton compte ?"
                >
                    Supprimer mon compte
                </button>
            </form>
        </div>
    </main>
{% endblock %}
